<html>
    <head>
        <title>Rubybytes</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/codemirror/lib/codemirror.css" />
 
	<script src="javascripts/jquery-2.1.1.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/codemirror/lib/codemirror.js"></script>
	<script src="javascripts/codemirror/mode/ruby/ruby.js"></script>

        <script type="text/javascript">
          $(document).ready(javabytes.onReady);
        </script>
    </head>
    <body>
      <%= yield %>
    </body>
</html>

