<!DOCTYPE html>
<html>
    <head>
        <title>Rubybytes</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/codemirror-4.8/lib/codemirror.css" />
    </head>

    <body>
      <%= yield %>
    </body>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/codemirror-4.8/lib/codemirror.js"></script>
    <script src="javascripts/codemirror-4.8/mode/ruby/ruby.js"></script>
    <script type="text/javascript">
      $(document).ready(codebytes.onReady);
    </script>
</html>

